/InfoGenetic.class
/NeuralNet.class
/ADN.class
/BoolArray.class
/IndividualNN.class
/IndividualBool.class
/GeneticNN.class
/GeneticNN2.class
/GeneticBool.class
/Genetic.class
/Genetic$RealFunctions.class
